<a href="https://colab.research.google.com/github/devkakeri06/segregation-assignment/blob/main/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd

df = pd.read_excel("/content/Assignment.xlsx")
df.head()

,Unnamed: 0,Name,Email ID,Phone Number ( Whatsapp ),Domain
0,0,Mohammad Sajid Rajnagarwala,nagarwala@gmail.com,1322119,AI/ ML
1,1,Kshitija awad,ijaawad12@gmail.com,9432564,Web Development
2,2,Onkar Chavan,havan2017@gmail.com,8442726,Android
3,3,Alka Gupta,lka102001@gmail.com,5528875,Cloud
4,4,Vedant Vinayak Garode,tgarode11@gmail.com,9336088,Web Development

In [40]:
df['id'] = df.groupby(['Name']).ngroup()
df = df[['id', 'Name', 'Email ID', 'Phone Number ( Whatsapp )', 'Domain']]
df.head(10)

,id,Name,Email ID,Phone Number ( Whatsapp ),Domain
0,261,Mohammad Sajid Rajnagarwala,nagarwala@gmail.com,1322119,AI/ ML
1,237,Kshitija awad,ijaawad12@gmail.com,9432564,Web Development
2,293,Onkar Chavan,havan2017@gmail.com,8442726,Android
3,41,Alka Gupta,lka102001@gmail.com,5528875,Cloud
4,562,Vedant Vinayak Garode,tgarode11@gmail.com,9336088,Web Development
5,562,Vedant Vinayak Garode,tgarode11@gmail.com,9336088,Android
6,562,Vedant Vinayak Garode,tgarode11@gmail.com,9336088,AI/ ML
7,562,Vedant Vinayak Garode,tgarode11@gmail.com,9336088,AI/ ML
8,300,Palak Agarwal,topalak6@gmail.com,3088541,AI/ ML
9,57,Aniket Prasad,niket2012@gmail.com,8182397,Competitive Programming

In [41]:
AIML = df[df['Domain'].str.contains('AI/ ML')]
AIML.head(10)

,id,Name,Email ID,Phone Number ( Whatsapp ),Domain
0,261,Mohammad Sajid Rajnagarwala,nagarwala@gmail.com,1322119,AI/ ML
6,562,Vedant Vinayak Garode,tgarode11@gmail.com,9336088,AI/ ML
7,562,Vedant Vinayak Garode,tgarode11@gmail.com,9336088,AI/ ML
8,300,Palak Agarwal,topalak6@gmail.com,3088541,AI/ ML
13,457,Shreyash V Kerekar,shkerekar@gmail.com,8084018,AI/ ML
17,184,Harshita trivedi,sha14601@gmail.com,90167,AI/ ML
24,397,Sahil Vidyadharsingh Dhamane,manesahil@gmail.com,9797095,AI/ ML
30,234,Kritika Kshirsagar,arkritika@gmail.com,6340666,AI/ ML
43,212,Karan Mohnani,nikaran18@gmail.com,8163743,AI/ ML
48,186,Hilag Shah,ahhilag16@gmail.com,5025385,AI/ ML

In [42]:
!pip install xlsxwriter

CLOUD = df[df['Domain'].str.contains('Cloud')]
WEBDEV = df[df['Domain'].str.contains('Web Development')]
UIUX = df[df['Domain'].str.contains('UI/UX')]
CP = df[df['Domain'].str.contains('Competitive Programming')]
BLOCKCHAIN = df[df['Domain'].str.contains('Blockchain')]
ANDROID = df[df['Domain'].str.contains('Android')]
CREATIVE_DESIGN = df[df['Domain'].str.contains('Creative Design')]
VIDEOEDIT = df[df['Domain'].str.contains('Video Editing')]
CONTENT = df[df['Domain'].str.contains('Content Writing')]
PRA = df[df['Domain'].str.contains('PRA')]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.3)

In [43]:
# df = pd.read_excel("/content/Assignment.xlsx")

In [44]:
with pd.ExcelWriter('Devaansh_Kakeri_Assignment.xlsx') as writer:  # doctest: +SKIP
     df.to_excel(writer, sheet_name='Ass')
     AIML.to_excel(writer, sheet_name='AIML', index=False)
     CLOUD.to_excel(writer, sheet_name='CLOUD', index=False)
     WEBDEV.to_excel(writer, sheet_name='WEBDEV', index=False)
     UIUX.to_excel(writer, sheet_name='UIUX', index=False)
     CP.to_excel(writer, sheet_name='CP', index=False)
     BLOCKCHAIN.to_excel(writer, sheet_name='BLOCKCHAIN', index=False)
     CREATIVE_DESIGN.to_excel(writer, sheet_name='CREATIVE_DESIGN', index=False)
     VIDEOEDIT.to_excel(writer, sheet_name='VIDEOEDIT', index=False)
     CONTENT.to_excel(writer, sheet_name='CONTENT', index=False)
     PRA.to_excel(writer, sheet_name='PRA', index=False)